.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.greenButton {
  background-color: #5AD576;
  -webkit-box-shadow: 3px 3px #3D9B51;
          box-shadow: 3px 3px #3D9B51;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
}

.greenButton:hover {
  background-color: #2d713c;
  -webkit-box-shadow: 3px 3px #3D9B51;
          box-shadow: 3px 3px #3D9B51;
}

.greenButton:active {
  background: #96ffaf !important;
}

.findMineButton {
  width: 400px;
}

.purpleTitle {
  color: #4C2A66;
  font-weight: bold;
}

.bigNavbar .navbar .navbar-brand {
  font-size: 35px;
  font-weight: bold;
}

.bigNavbar .navbar a, .bigNavbar .navbar .navbar-brand, .bigNavbar .navbar .navbar-nav .nav-link {
  line-height: 70px;
  height: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .bigNavbar .navbar a, .bigNavbar .navbar .navbar-brand, .bigNavbar .navbar .navbar-nav .nav-link {
    line-height: 19px;
    height: 19px;
  }
}

.smallNavbar .navbar .navbar-brand {
  font-weight: bold;
}

.smallNavbar .navbar a, .smallNavbar .navbar .navbar-brand, .smallNavbar .navbar .navbar-nav .nav-link {
  line-height: 40px;
  height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .smallNavbar .navbar a, .smallNavbar .navbar .navbar-brand, .smallNavbar .navbar .navbar-nav .nav-link {
    line-height: 19px;
    height: 19px;
  }
}

.navbar {
  background-color: #9f5ad5;
  z-index: 99999;
}

.navbar a, .navbar .navbar-brand, .navbar .navbar-nav .nav-link {
  text-decoration: none !important;
  color: white;
  padding-top: 0;
  line-height: 500px;
}

.navbar a:hover, .navbar .navbar-brand:hover, .navbar .navbar-nav .nav-link:hover {
  color: #4C2A66;
}

@media screen and (max-width: 768px) {
  .navbar a, .navbar .navbar-nav .nav-link {
    margin-top: 2.75%;
    margin-bottom: 2%;
    line-height: 19px;
    height: 19px;
  }
}

.navbar .navbarIcon {
  font-size: 2rem;
  padding-right: 1rem;
}

.navbar .navbarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home {
  height: calc(100vh - 70px - 15px);
  margin-top: calc(70px + 15px);
}

.home .landingContainer {
  padding: 2.5% 5% 2%;
}

.home .landingContainer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home .landingContainer .pic {
  height: 65%;
  position: relative;
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .home .landingContainer .pic {
    margin-top: 5%;
  }
}

.home .landingContainer .homegif {
  width: 475px;
  height: auto;
  -webkit-filter: hue-rotate(60deg);
          filter: hue-rotate(60deg);
  margin: 0%;
  margin: 0%;
}

.home .landingContainer .image-holder {
  display: inline-block;
  position: relative;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.home .landingContainer .text {
  height: 20%;
  margin-bottom: 2%;
}

.home .landingContainer .text div {
  width: 100%;
  color: #4C2A66;
}

@media screen and (max-width: 768px) {
  .home .landingContainer .text {
    margin-top: 10%;
    margin-bottom: 0%;
  }
}

.home .landingContainer .button {
  height: 15%;
}

@media screen and (max-width: 768px) {
  .home .landingContainer .button {
    margin-top: 5%;
  }
}

@media screen and (max-width: 768px) {
  .home {
    height: calc(100vh - 19px - 25px);
    margin-top: calc(19px + 25px);
  }
}

.home .activitiesWindowLabel {
  padding-top: 50px;
  padding-bottom: 25px;
}

.home .activitiesWindowLabel div {
  width: 100%;
  color: #4C2A66;
}

.home .activitiesWindowTop {
  width: 100%;
  padding-bottom: 30px;
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .home .activitiesWindowTop {
    padding-bottom: 0px;
  }
}

.home .activitiesWindowBottom {
  width: 100%;
  margin-left: 0px;
}

.home .accommodationWindowLabel {
  padding-top: 50px;
  padding-bottom: 25px;
}

.home .accommodationWindowLabel div {
  width: 100%;
  color: #4C2A66;
}

.home .accommodationWindowTop {
  width: 100%;
  padding-bottom: 30px;
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .home .accommodationWindowTop {
    padding-bottom: 0px;
  }
}

.home .accommodationWindowBottom {
  width: 100%;
  margin-left: 0px;
}

.home img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  /* only if you want fixed height */
  border-radius: 10px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.home img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .home img {
    padding-bottom: 20px;
  }
}

.home .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 30px;
  color: white;
  opacity: 1;
}

.searchPage {
  height: calc(100vh - 70px - 15px);
  margin-top: calc(70px + 15px);
}

.searchPage .purpletent {
  height: 100px;
  width: 100px;
}

.searchPage .jumbotext {
  padding-left: 50px;
  font-weight: 200;
}

.searchPage .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.searchPage .searchPageContainer {
  border: 1px solid lightgrey;
}

.searchPage .searchPageContainer .jumbo {
  height: 200px;
}

.searchPage .searchPageContainer .searchBarContainerWrapper {
  padding: 0%;
  margin: -15px;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 9999;
}

.searchPage .searchPageContainer .searchBarContainer {
  padding: 1% 5%;
  margin: 0%;
  background-color: #EADCF5;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .searchBarContainer {
    padding: 0%;
  }
}

.searchPage .searchPageContainer .resultsBanner {
  padding: 20px;
}

.searchPage .searchPageContainer .resultsBanner p {
  padding: 0px;
  padding-top: 20px;
  margin: 0px;
}

.searchPage .searchPageContainer .resultsBanner .resultsNumber {
  color: #5AD576;
  font-weight: 900;
}

.searchPage .searchPageContainer .resultsBanner .resultsEnd {
  color: #5AD576;
}

.searchPage .searchPageContainer .filterAndResultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults {
  width: 1000px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0%;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 129px;
  z-index: 999;
  background-color: white;
  padding: 0%;
  border-bottom: 1px solid lightgray;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .labelFontsize {
  font-size: 18px;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer ul {
  padding-left: 4%;
  padding-top: 0%;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 40px;
  color: #55ae68;
  background-color: #C3FFD0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterLabel {
    height: 30px;
    padding: 0%;
    top: 0;
  }
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .optionSegment {
  padding-left: 5%;
  height: 40px;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20% 20%;
      grid-template-columns: 1fr 20% 20%;
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .optionSegment {
    height: 30px;
    padding-bottom: 2.5%;
  }
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .optionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .clearButton {
  background-color: white;
  border: none;
  font-size: 14px;
  color: gray;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .clearButton:hover {
  color: #9f5ad5;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .openButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: none;
  color: #9f5ad5;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .arrow-closed {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1);
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1);
  position: relative;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .arrow-open {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1);
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1);
  position: relative;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .accommodation {
  height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .accommodation.open {
  height: 285px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1);
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1);
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .accommodation {
    height: 30px;
  }
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .activities {
  height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .activities.open {
  height: 285px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1);
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1);
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .activities {
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer {
    top: 158px;
  }
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterOption {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 1fr;
      grid-template-columns: 25px 1fr;
  padding-top: 5px;
  padding-bottom: 5px;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterOption:hover {
  background-color: lightgrey;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterOption .left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.searchPage .searchPageContainer .filterAndResultsContainer .filterAndResults .filterContainer .filterOption .right {
  margin-left: 3%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .searchPage {
    height: calc(100vh - 19px - 25px);
    margin-top: calc(19px + 25px);
  }
}

.searchBar {
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .searchBar {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.searchBar .col, .searchBar [class*="col-"] {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
}

.searchBar .borderBox {
  margin: 10px 0px;
  border: 1px solid #5f3282;
  border-radius: 5px;
  width: 100%;
  height: 90%;
  background-color: white;
}

.searchBar .findButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.searchBar .searchButton {
  font-size: 24px;
  height: 45px;
  padding: 0%;
  margin: 0%;
  margin-bottom: 1%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .searchBar .searchButton {
    height: 42px;
  }
}

.pageLinker {
  text-decoration: none !important;
}

.resultCard {
  height: 250px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0% 0% 2% 0%;
  color: gray;
}

.resultCard .pictureContainer {
  padding: 0%;
  height: 100%;
}

.resultCard .pictureContainer .picture {
  padding: 3.5% 3.5%;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resultCard .infoContainer {
  height: 100%;
  padding: 3% 2%;
}

.resultCard .infoContainer .nameContainer {
  text-align: left;
}

.resultCard .infoContainer .descriptionContainer {
  text-align: left;
  height: 120px;
  margin: 3% 0%;
}

@media screen and (max-width: 768px) {
  .resultCard .infoContainer .descriptionContainer {
    height: 60px;
  }
}

.resultCard .infoContainer .descriptionContainer p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resultCard .infoContainer .buttonContainer {
  float: right;
}

@media screen and (max-width: 768px) {
  .resultCard {
    height: 60vh;
    margin: 2% 0% 10%;
  }
  .resultCard .pictureContainer {
    height: 60%;
  }
  .resultCard .pictureContainer .picture {
    padding: 2% 2%;
    height: 100%;
  }
  .resultCard .infoContainer {
    height: 40%;
    padding: 0px 3%;
  }
  .resultCard .infoContainer .descriptionContainer {
    margin: 5px 0% 15px;
  }
  .resultCard .infoContainer .descriptionContainer p {
    -webkit-line-clamp: 2;
  }
}

.resultCard .moreInfoButton {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background-color: #9f5ad5;
  -webkit-box-shadow: 3px 3px #5f3282;
          box-shadow: 3px 3px #5f3282;
}

.resultCard .moreInfoButton:hover {
  background-color: #5f3282;
  -webkit-box-shadow: 3px 3px #9f5ad5;
          box-shadow: 3px 3px #9f5ad5;
}

.resultCard .moreInfoButton:active {
  background: #96ffaf !important;
}

.searchBar {
  padding: 0%;
}

.searchBar #dropdown-custom-1 {
  color: black;
  background-color: white;
  border: 0px;
}

.searchBar #dropdown-custom-2 {
  color: #5AD576;
  background-color: white;
  margin: 5% 0%;
  padding: 5px;
  width: 40px;
  height: 35px;
  border: 0px;
}

.searchBar #dropdown-custom-2:hover {
  color: purple;
  background-color: white;
}

.searchBar #dropdown-custom-2:active {
  background: #96ffaf !important;
}

.searchBar #dropdown-custom-2:focus {
  color: white;
  background: purple !important;
}

.searchBar .calendarInput {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 30%;
      grid-template-columns: 1fr 30%;
}

.searchBar .calendarInput .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.searchBar .calendarInput .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.sitePage .carousel {
  height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.sitePage .carousel img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}

.sitePage .carousel-control-next-icon {
  padding: 20%;
  border-radius: 100px;
}

.sitePage .carousel-control-prev-icon {
  padding: 20%;
  border-radius: 100px;
}

.sitePage .sitePageContainer {
  margin-top: 105px;
}

@media screen and (max-width: 768px) {
  .sitePage .sitePageContainer {
    margin-top: 70px;
  }
}

.sitePage .country {
  width: 100%;
  color: #419dff;
}

.sitePage .title {
  width: 100%;
  margin-bottom: 3%;
}

.sitePage .miniNav {
  background-color: #F6EAFF;
  width: 100%;
  text-align: center;
}

.sitePage .miniNav .nav-link {
  margin: 0%;
  text-align: center;
  color: purple;
  border-radius: 5px;
}

.sitePage .miniNav .nav-link:hover {
  color: white;
  background-color: #4C2A66;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sitePage .miniNav .nav-link:active {
  color: #4C2A66;
}

.sitePage .miniNav .nav-link:focus {
  color: red;
  font-weight: 700;
}

.sitePage .miniNav .bookButton {
  color: white;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sitePage .miniNav .bookButton {
    width: 100%;
    height: 115%;
  }
}

.sitePage .aboutSection {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}

.sitePage .aboutSection .about {
  width: 100%;
}

.sitePage .aboutSection .description {
  width: 100%;
  color: gray;
}

.sitePage .accActLegend {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  margin: 0%;
}

.sitePage .accActLegend .accommodationLegend {
  width: 100%;
}

.sitePage .accActLegend .activitiesLegend {
  width: 100%;
}

.sitePage .accActLegend #iconBox {
  width: 30px;
  height: 30px;
}

.sitePage .availability {
  width: 100%;
}

.sitePage .availability .availability-dates {
  margin-top: 2%;
  padding-bottom: 0%;
}

.sitePage .mapContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.simpleMap {
  display: block;
  position: relative !important;
  width: 70rem !important;
  height: 30rem !important;
}

@-webkit-keyframes articleCardFade {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes articleCardFade {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.footer {
  background-color: #9f5ad5;
  height: 100px;
  width: 100%;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}
/*# sourceMappingURL=style.css.map */