$textColor: white;

// :root {
//   --navbarHeight: 70px;
// }
// @media screen and (max-width: 768px) {
//   :root {
//     --navbarHeight: 30px;
//   }
// }

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

$navbarHeight_desktop: 70px;
$navbarHeight_mobile: 19px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greenButton {
  background-color: #5AD576;
  box-shadow: 3px 3px #3D9B51;
  border: none;
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  &:hover {
    background-color: rgb(45, 113, 60);
    box-shadow: 3px 3px #3D9B51;
  }
  &:active {
    background: rgb(150, 255, 175) !important;
  }
}

.findMineButton {
  width: 400px;
}

.purpleTitle {
  color: #4C2A66;
  font-weight: bold;
}

  .bigNavbar {
    .navbar {
      // background-color: blue;
      .navbar-brand {
        // color: red;
        font-size: 35px;
        font-weight: bold;
      }

      a, .navbar-brand, .navbar-nav .nav-link {
        line-height: 70px;
        height: 70px;
        transition: 0.2s;
        @media screen and (max-width: 768px) {
          line-height: ($navbarHeight_mobile);
          height: $navbarHeight_mobile;
        }
    }

    }
  }

  .smallNavbar {

    .navbar {
      // background-color: red;
      .navbar-brand {
        // color: red;
        // font-size: 35px;
        font-weight: bold;
      }
      a, .navbar-brand, .navbar-nav .nav-link {
        line-height: 40px;
        height: 40px;
        transition: 0.2s;
        @media screen and (max-width: 768px) {
          line-height: $navbarHeight_mobile;
          height: $navbarHeight_mobile;
        }
    }

    }
  }

  .navbar {
    background-color: #9f5ad5;
    // opacity: 0.5;
    z-index: 99999;
    a, .navbar-brand, .navbar-nav .nav-link {
      text-decoration: none !important;
      color: $textColor;
      padding-top: 0;
      line-height: 500px;
      &:hover {
        color:#4C2A66;
      }
    }
    @media screen and (max-width: 768px) {
      a, .navbar-nav .nav-link {
        margin-top: 2.75%;
        margin-bottom: 2%;
  
        line-height: $navbarHeight_mobile;
        height: $navbarHeight_mobile;

      }

    }
    .navbarIcon {
      font-size: 2rem;
      padding-right: 1rem;
    }
    .navbarOption {
      @include flexCenter;
      justify-content: flex-end;
    }

  }

  // .navbarTogglez {
  //   color: red;
  // }

////////// HOME PAGE

  .home {

    height: calc(100vh - #{$navbarHeight_desktop} - 15px);
    margin-top: calc(#{$navbarHeight_desktop} + 15px);

    .landingContainer {
      padding: 2.5% 5% 2%;
      // height: 100%;

      .row {
        @include flexCenter;
      }

      .pic { 
        height: 65%;
        position: relative;
        margin-bottom: 2%;
    @media screen and (max-width: 768px) {
      margin-top: 5%;
 
    }
      }

      .homegif {
        width: 475px;
        height: auto;
        filter: hue-rotate(60deg);
        margin: 0%;
        margin: 0%;
      }

      .image-holder {
        display:inline-block;
        position: relative;
        filter: brightness(90%);
    }

    // .image-holder:after {
    //     content:'';
    //     top: 0;
    //     left: 0;
    //     z-index: 10;
    //     width: 475px;
    //     height: 100%;
    //     display: block;
    //     position: absolute;
    //     background: #371f4b;
    //     border-radius: 10px;
    //     // background-color: red;
    //     opacity: 0.15;
    // }

    // .image-holder:hover:before {
    //     opacity: 0;
    // }
  
      .text {
        height: 20%; 
        margin-bottom: 2%;
        div {
          width: 100%;
          color: #4C2A66;
        }
        @media screen and (max-width: 768px) {
          margin-top: 10%;
        margin-bottom: 0%;

        }
      }
  
      .button {
        // border: 1px solid yellow;      
        height: 15%; 
        @media screen and (max-width: 768px) {
          margin-top: 5%;
        }
      }
    }

    @media screen and (max-width: 768px) {
      height: calc(100vh - #{$navbarHeight_mobile} - 25px);
      margin-top: calc(#{$navbarHeight_mobile} + 25px);
    }
    

    .activitiesWindowLabel {
      padding-top: 50px;
      padding-bottom: 25px;
      div {
        width: 100%;
        color: #4C2A66;
      }
    }

    .activitiesWindowTop {
      width: 100%;
      padding-bottom: 30px;
      margin-left: 0px;
      @media screen and (max-width: 768px) {
        padding-bottom: 0px;
      }
    }

    .activitiesWindowBottom {
      width: 100%;
      margin-left: 0px;
    }

    .accommodationWindowLabel {
      padding-top: 50px;
      padding-bottom: 25px;
      div {
        width: 100%;
        color: #4C2A66;
      }
    }

    .accommodationWindowTop {
      width: 100%;
      padding-bottom: 30px;
      margin-left: 0px;
      @media screen and (max-width: 768px) {
        padding-bottom: 0px;
      }
    }

    .accommodationWindowBottom {
      width: 100%;
      margin-left: 0px;
    }



    img {
      width: 100%;
      object-fit: cover;
      height: 300px; /* only if you want fixed height */
      // opacity: 0.5;
      border-radius: 10px;
      filter: brightness(75%);
      transition: 1.5s;
      &:hover {
      filter: brightness(110%);
        transition: 0.5s;
      }
      @media screen and (max-width: 768px) {
        padding-bottom: 20px;
      }
    }

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 30px;
      color: white;
      opacity:1;
    }

  }

  ////////// SEARCH PAGE

  .searchPage {


    .purpletent {
      height: 100px;
      width: 100px;
    }

    .jumbotext {
      padding-left: 50px;
      font-weight: 200;
    }

    height: calc(100vh - #{$navbarHeight_desktop} - 15px);
    margin-top: calc(#{$navbarHeight_desktop} + 15px);

    .row {
      @include flexCenter;
    }

    .searchPageContainer {
      border: 1px solid lightgrey;
      // background-color:#EADCF5;

      padding: 0%;


      
    .jumbo {
      // border: 1px solid black;
      height: 200px;
    }

    .searchBarContainerWrapper {
      // width: 100%;
      padding: 0%;
      // margin: -15px;
      position: sticky;
      top: 56px;
      z-index: 9999;
    }

    .searchBarContainer {
      // border: 1px solid blue;
      padding: 1% 5%;

      margin: 0%;
  
      background-color:#EADCF5;
      height: auto;
   
      display: flex;
      justify-content: center;
      align-items: center;
    @media screen and (max-width: 768px) {
      padding: 0%;
    }
    }

    .resultsBanner {
      // border: 1px solid palegoldenrod;
      padding: 20px;
      p {
        padding: 0px;
        padding-top: 20px;
        margin: 0px;
      }
      .resultsNumber {
        color: #5AD576;
        font-weight: 900;
      }
      .resultsEnd {
        color: #5AD576;
      }
    }

    .filterAndResultsContainer {
      @include flexCenter;

    .filterAndResults {
      width: 1000px;
      align-items: flex-start;
      margin: 0%;
// padding: 0%;
      .filterContainer{
        position: sticky;
        top: 129px;
        z-index: 999;
        background-color: white;
        padding: 0%;
        // border-bottom: 1px solid lightgray;


      // @media screen and (max-width: 768px) {
      // margin: 0;
      // padding: 0%;
      // }

        .labelFontsize {
          font-size: 18px;
        }

        ul {
          padding-left: 4%;
          padding-top: 0%;
          // p {
          //   margin-top: 2.5%;
          //   margin-bottom: 2.5%;
          //   padding-left: 5%;
          // }
        }
    
        .filterLabel{
      @include flexCenter;
      height: 40px;
          color: rgb(85, 174, 104);
          // background-color: #C3FFD0;
          background-image: linear-gradient(to right, white , #C3FFD0);
          font-weight: bold;
          @media screen and (max-width: 768px) {
            height: 30px; 
            padding: 0%;
            top: 0;           
          }
        }

        .optionSegment {
          padding-left: 5%;
          height: 40px;
          font-weight: 700;
          // background-color: red;
          display: grid;
          grid-template-columns: 1fr 20% 20%;
          @media screen and (max-width: 768px) {
            height: 30px;  
            padding-bottom: 2.5%;          
          }
        }

        .optionSection {
          @include flexCenter;
          justify-content: flex-start;

        }

        .clearButton {
          background-color: white;
          border: none;
          font-size: 14px;
          color: gray;
          &:hover{
            color: #9f5ad5;
          }
        }

        .openButton {
          @include flexCenter;
          background-color: white;
          width: min-content;
          border: none;
          color: #9f5ad5;
        }

        .arrow-closed {
          transition: all 0.4s;
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1.0);
          position: relative;
          // bottom: 1px;
        }
        
        .arrow-open {
          transform: rotateZ(-180deg);
          transition: all 0.4s;
          transition-timing-function: cubic-bezier(0.01, 0.1, 0.1, 1.0);
          position: relative;
          // top: 1px;
        }

        .accommodation{
          height: 40px;
          transition: 0.2s;
          overflow: hidden;
          &.open {
            height: 285px;
            transition: all 0.4s;
            transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1.0);
            }
            @media screen and (max-width: 768px) {
              height: 30px;            
            }
        }

        .activities{
          height: 40px;
          transition: 0.2s;
          overflow: hidden;
          &.open {
            height: 285px;
            transition: all 0.4s;
            transition-timing-function: cubic-bezier(0.01, 0.1, 0.5, 1.0);
            }
            @media screen and (max-width: 768px) {
              height: 30px;            
            }
        }

@media screen and (max-width: 768px) {
  top: 158px;
}

.filterOption {
  display: grid;
  grid-template-columns: 25px 1fr;
  padding-top: 5px;
  padding-bottom: 5px;

  &:hover{
    background-color: lightgrey;
    transition: 0.2s;
  }

  .left {
    grid-area: 1/1/2/2;
    @include flexCenter;
  }
  .right {
    margin-left:3%;
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: flex-start;
  }
}

      }

      .resultsContainer {
        // border: 1px solid pink;
        padding-left: 0%;
        padding-right: 2%;
        @media screen and (max-width: 768px) {
          padding: 2%;
        }
      }
    }
  }
  

  }


@media screen and (max-width: 768px) {
      height: calc(100vh - #{$navbarHeight_mobile} - 25px);
      margin-top: calc(#{$navbarHeight_mobile} + 25px);
      // .searchBarContainer {
      //   min-height: min-content;
      // }
}

  }

////////// SEARCH BAR

  .searchBar {

    width: 100vw;

    @media screen and (max-width: 768px) {
        margin-top: 2px;
    margin-bottom: 2px;
    }


    .col, [class*="col-"] {
      height: 50px;
      @include flexCenter;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .borderBox {
      margin: 10px 0px;
      border: 1px solid #5f3282;
      border-radius: 5px;
      width: 100%;
      height: 90%;
      background-color: white;
    }

    .location {
      // border: 1px solid paleturquoise;
    }

    .checkIn {
      // border: 1px solid palegreen;
    }

    .checkOut {
      // border: 1px solid palegoldenrod;
    }

    .findButton {
      @include flexCenter;
      // border: 1px solid lightpink;
    }
    .searchButton {
      font-size: 24px;
      height: 45px;
      padding: 0%;
      margin: 0%;
      margin-bottom: 1%;
      width: 80%;

      @media screen and (max-width: 768px) {
        height: 42px;
      }
    }
  }


  ////////// RESULT CARD

  .pageLinker {
    text-decoration: none !important;
  }

  .resultCard {
    $resultCardHeight_desktop: 250px;
    $resultCardHeight_mobile: 60vh;

    height: $resultCardHeight_desktop;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0% 0% 2% 0%;
    color: gray;

    
    .pictureContainer {
      padding: 0%;
      // background-color: green;
      height: 100%;

      .picture {
        padding: 3.5% 3.5%;
        width: 100%;
        height: 80%;

        object-fit: cover;
      }
    }

    .infoContainer {
      // background-color: blue;
      height: 100%;
      padding: 3% 2%;

      .nameContainer {
        text-align: left;
        // background-color: palegoldenrod;
      }

      .descriptionContainer {
        text-align: left;
        // background-color: paleturquoise;
        height: 120px;
        margin: 3% 0%;

        @media screen and (max-width: 768px) {
          height: 60px;
          }

        p {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;  
          overflow: hidden;
        }
      }
  
      .buttonContainer {
        float: right;
      }

    }

    @media screen and (max-width: 768px) {
      height: $resultCardHeight_mobile;
      margin: 2% 0% 10%;
      .pictureContainer {
        height: 60%;
        .picture {
          padding: 2% 2%;
          height: 100%;
        }
      }
      .infoContainer {
        height: 40%;
        padding: 0px 3%;
        .descriptionContainer {
        margin: 5px 0% 15px;
          p {
          -webkit-line-clamp: 2;
          }
        }
      }
    }

    .moreInfoButton {
      width: 100%;
      height: 40px;
      font-size: 20px;
      background-color: #9f5ad5;
      box-shadow: 3px 3px #5f3282;
    &:hover {
      background-color: #5f3282;
      box-shadow: 3px 3px #9f5ad5;;
    }
    &:active {
      background: rgb(150, 255, 175) !important;
    }
    }

  }


  ///////// FILTER


  ////////// SEARCHBAR

  .searchBar {
    padding: 0%;
    #dropdown-custom-1 {
      color: black;
      background-color: white;
      border: 0px;

    }
  #dropdown-custom-2 {
      color:#5AD576;
      background-color:white;
      margin: 5% 0%;
      padding: 5px;
      width: 40px;
      height: 35px;
      // margin-left: 50%;
      border: 0px;
      &:hover {
        color: purple;
        background-color:white;
      }
      &:active {
        background: rgb(150, 255, 175) !important;
      }
      &:focus {
        color: white;
        background: purple !important;
    }
}

.calendarInput {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 30%;
  .left {
    @include flexCenter;
    grid-area: 1 / 1 / 2 / 2;
  }
  .right {
    @include flexCenter;
    grid-area: 1 / 2 / 2 / 3;

  }
}


  }

////////// sitePage

.sitePage {


  .carousel {
    height:500px;
    max-height:500px;
    overflow: hidden;
  }

  .carousel img {
    object-fit: cover;
    width: 50px;
    // padding-left: 10%;
    // padding-right: 10%;
    // height: 500px;
  }

  .carousel-control-next-icon {
    // border: 2px solid white(179, 131, 245);
    // background-color:white(179, 131, 245);
    padding: 20%;

    border-radius: 100px;
}

  .carousel-control-prev-icon {
    // border: 2px solid white(179, 131, 245);
    // background-color:white(179, 131, 245);
    padding: 20%;
    border-radius: 100px;
}

  // .carousel-inner {
  //   &.item {
  //     height: 100px;
  //     border: 5px solid red;
  //  }
  // }

  // .d-block.w-100 {
  //   // height:100%;
  //   width:auto;
  //   object-fit:cover;
  //   }

  .sitePageContainer {
    // border: 1px solid red;
    margin-top: $navbarHeight_desktop + 35px;
          @media screen and (max-width: 768px) {
            margin-top: $navbarHeight_desktop + 0px;
            // padding-left: 0%;
            // padding-right: 0%;

      }
    // .lowerContainer {
    //   border: 1px solid blue;
    //   padding: 5% 20%;
    // }

  }

  .country {
    width: 100%;
    color: rgb(65, 157, 255)
  }

  .title {
    width: 100%;
    // border: 1px solid paleturquoise;
    margin-bottom: 3%;
  }

  .miniNav {
    // height: 50px;
    background-color: #F6EAFF;
    width: 100%;
    // border: 1px solid lightseagreen;
    text-align: center;

    // .nav {
    //   margin-right: 0%;
    // }

    .nav-link {
      // background-color: white;
      margin: 0%;
      text-align: center;
      color: purple;
      border-radius: 5px;
      &:hover {
        color: white;
        background-color: #4C2A66;
        transition: 0.5s;
      }
      &:active {
        color: #4C2A66;
      }
      &:focus {
        color: red;
        font-weight: 700;
      }
    }
    .bookButton {
      color: white;
      width: 100%;
      // height: 100%;
            @media screen and (max-width: 768px) {
      width: 100%;
      height: 115%;
      }
    }
  }

  .aboutSection {
    height: min-content;
    width: 100%;
    // border: 1px solid lightpink;
    .about {
      // height: 50px;
      width: 100%;
      // border: 1px solid palegoldenrod;
    }
    .description {
      // height: min-content;
      width: 100%;
      font-weight: 300;
      // border: 1px solid lightgreen;
      color: gray;
    }
  }

  .accActLegend {
    height: min-content;
    width: 100%;
    // border: 1px solid lightyellow;
    margin: 0%;
    .accommodationLegend {
      // height: 50px;
      width: 100%;
      // border: 1px solid palevioletred;
      // padding-left: 2%;
    }
    .activitiesLegend {
      // height: 50px;
      width: 100%;
      // border: 1px solid mediumpurple;
      // padding-left: 2%;
    }
    #iconBox {
      // background-color: red;
      width: 30px;
      height: 30px;
    }
  }

  .availability {
    // height: 50px;
    width: 100%;
    // border: 1px solid slategrey;

  

    // .availability-title {
    //   font-size: 2rem;
    //   @media screen and (max-width: 768px) {
    //   font-size: 2rem;
    //   }
    // }



    .availability-dates {
      margin-top: 2%;
      padding-bottom: 0%;

    }
  }

 



  .mapContainer {
    @include flexCenter;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

 .simpleMap {
   display: block;
  position: relative !important;
  width: 70rem !important; 
   height: 30rem !important;
 }



//  @keyframes articleCardFade {
//   from {
//     transform: translateX(2.5vw);
//     opacity: 0;
//   }
//   to {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

@keyframes articleCardFade {
  from {
    // transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


////////// FOOTER

.footer {
  background-color: #9f5ad5;
  height: 100px;
  width: 100%;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
   animation: flickerAnimation 5s infinite;
}

.errorPage {
  @include flexCenter;
  background-color: red;
}